PORT=3000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=8h

USERS_FILE=./data/users.json
MONGO_URI=maurolea_db_user:Z1YRQ25IrFUAng66@ac-n2jnqx9-shard-00-00.4vpiuum.mongodb.net:27017,ac-n2jnqx9-shard-00-01.4vpiuum.mongodb.net:27017,ac-n2jnqx9-shard-00-02.4vpiuum.mongodb.net:27017/?tls=true&replicaSet=atlas-rwr0rc-shard-0&authSource=admin&retryWrites=true&w=majority
MONGO_DB_NAME=vgv
AUTO_SYNC_SEED=false
AUTO_SYNC_REMOVE_MISSING=false

# SMTP (cPanel)
SMTP_HOST=mail.vgv.cl
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=ventas@vgv.cl
SMTP_PASS=replace-with-cpanel-mail-password
SMTP_FROM_NAME=VGV SPA Web
SMTP_FROM_EMAIL=ventas@vgv.cl
SMTP_TO_CONTACT=ventas@vgv.cl
SMTP_TO_QUOTES=ventas@vgv.cl
